<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Automat biletowy</title>
</head>

<body>

<h1>🎫 AUTOMAT BILETOWY</h1>

<h2>Wybierz rodzaj biletu</h2>

<h3>Normalny</h3>

<a href="/bilety?discount=normalny&type=okresowy">
    Bilet okresowy
</a>
<br>

<a href="/bilety?discount=normalny&type=czasowy">
    Bilet czasowy
</a>
<br>

<a href="/bilety?discount=normalny&type=jednorazowy">
    Bilet jednorazowy
</a>

<h3>Ulgowy</h3>

<a href="/bilety?discount=ulgowy&type=okresowy">
    Bilet okresowy
</a>
<br>

<a href="/bilety?discount=ulgowy&type=czasowy">
    Bilet czasowy
</a>
<br>

<a href="/bilety?discount=ulgowy&type=jednorazowy">
    Bilet jednorazowy
</a>

<hr>

<a href="/kasa">🛒 Przejdź do kasy</a>

</body>
</html>